.container {
    width: 80%;
    margin: 0 auto;    
}

#signup-button {
    color: black !important;
    background-color: white !important;
}

.header {
    background-color: #B52E31;
}

.home {
    float: left;
    padding: 15px 0;
}

.header::after {
    content: '';
    display: table;
    clear: both;
}

.mat-icon {
    font-size: 36px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    float: left;
    margin-left: 70px;
    padding-top: 23px;
    padding-bottom: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;   
}

.container-form {
    text-align: center;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 50%;
  }
  
  .example-full-width {
    width: 100%;
  }