<app-nav-bar></app-nav-bar>
<div fxLayout="column" fxLayoutAlign="center center">
<section class="login-box">
    <form  #f="ngForm" (ngSubmit)="signIn(f.value)" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
      <h2>Please sign in</h2>
      <div *ngIf="invalidLogin" >Invalid username and/or password.</div>
      <input type="email" id="inputEmail" name="email" ngModel class="form-control" placeholder="Email address" required
        autofocus>
      <input type="password" id="inputPassword" name="password" ngModel class="form-control" placeholder="Password"
        required>
      <button mat-raised-button [disabled]="f.invalid"  type="submit">Sign in</button>
    </form>
</section>
</div>