<app-nav-bar></app-nav-bar>
<div class="container-form">
  <h1>
    Login Page!
  </h1>
  <form class="example-form" #f="ngForm" (ngSubmit)="signIn(f.value)">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput  placeholder="Ex. pat@example.com">      
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password">  
    </mat-form-field>
    <div *ngIf="invalidLogin">Invalid username and/or password</div>
    <button mat-raised-button color="warn" type="submit">login</button>
  </form>  
</div>